.image {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 360px;
  margin: -180px 0 0 -180px;
}
.image.sector-10 {
  -webkit-animation: spin-10 3s cubic-bezier(0.4, 0.2, 0, 1) 1s 1;
          animation: spin-10 3s cubic-bezier(0.4, 0.2, 0, 1) 1s 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.image.sector-9 {
  -webkit-animation: spin-9 3s cubic-bezier(0.4, 0.2, 0, 1) 1s 1;
          animation: spin-9 3s cubic-bezier(0.4, 0.2, 0, 1) 1s 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.image.sector-8 {
  -webkit-animation: spin-8 3s cubic-bezier(0.4, 0.2, 0, 1) 1s 1;
          animation: spin-8 3s cubic-bezier(0.4, 0.2, 0, 1) 1s 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.image.sector-7 {
  -webkit-animation: spin-7 3s cubic-bezier(0.4, 0.2, 0, 1) 1s 1;
          animation: spin-7 3s cubic-bezier(0.4, 0.2, 0, 1) 1s 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.image.sector-6 {
  -webkit-animation: spin-6 3s cubic-bezier(0.4, 0.2, 0, 1) 1s 1;
          animation: spin-6 3s cubic-bezier(0.4, 0.2, 0, 1) 1s 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.image.sector-5 {
  -webkit-animation: spin-5 3s cubic-bezier(0.4, 0.2, 0, 1) 1s 1;
          animation: spin-5 3s cubic-bezier(0.4, 0.2, 0, 1) 1s 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.image.sector-4 {
  -webkit-animation: spin-4 3s cubic-bezier(0.4, 0.2, 0, 1) 1s 1;
          animation: spin-4 3s cubic-bezier(0.4, 0.2, 0, 1) 1s 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.image.sector-3 {
  -webkit-animation: spin-3 3s cubic-bezier(0.4, 0.2, 0, 1) 1s 1;
          animation: spin-3 3s cubic-bezier(0.4, 0.2, 0, 1) 1s 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.image.sector-2 {
  -webkit-animation: spin-2 3s cubic-bezier(0.4, 0.2, 0, 1) 1s 1;
          animation: spin-2 3s cubic-bezier(0.4, 0.2, 0, 1) 1s 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.image.sector-1 {
  -webkit-animation: spin-1 3s cubic-bezier(0.4, 0.2, 0, 1) 1s 1;
          animation: spin-1 3s cubic-bezier(0.4, 0.2, 0, 1) 1s 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
@-webkit-keyframes spin-10 {
  100% {
    -webkit-transform: rotate(720deg);
            transform: rotate(720deg);
  }
}
@keyframes spin-10 {
  100% {
    -webkit-transform: rotate(720deg);
            transform: rotate(720deg);
  }
}
@-webkit-keyframes spin-9 {
  100% {
    -webkit-transform: rotate(756deg);
            transform: rotate(756deg);
  }
}
@keyframes spin-9 {
  100% {
    -webkit-transform: rotate(756deg);
            transform: rotate(756deg);
  }
}
@-webkit-keyframes spin-8 {
  100% {
    -webkit-transform: rotate(792deg);
            transform: rotate(792deg);
  }
}
@keyframes spin-8 {
  100% {
    -webkit-transform: rotate(792deg);
            transform: rotate(792deg);
  }
}
@-webkit-keyframes spin-7 {
  100% {
    -webkit-transform: rotate(828deg);
            transform: rotate(828deg);
  }
}
@keyframes spin-7 {
  100% {
    -webkit-transform: rotate(828deg);
            transform: rotate(828deg);
  }
}
@-webkit-keyframes spin-6 {
  100% {
    -webkit-transform: rotate(864deg);
            transform: rotate(864deg);
  }
}
@keyframes spin-6 {
  100% {
    -webkit-transform: rotate(864deg);
            transform: rotate(864deg);
  }
}
@-webkit-keyframes spin-5 {
  100% {
    -webkit-transform: rotate(900deg);
            transform: rotate(900deg);
  }
}
@keyframes spin-5 {
  100% {
    -webkit-transform: rotate(900deg);
            transform: rotate(900deg);
  }
}
@-webkit-keyframes spin-4 {
  100% {
    -webkit-transform: rotate(936deg);
            transform: rotate(936deg);
  }
}
@keyframes spin-4 {
  100% {
    -webkit-transform: rotate(936deg);
            transform: rotate(936deg);
  }
}
@-webkit-keyframes spin-3 {
  100% {
    -webkit-transform: rotate(972deg);
            transform: rotate(972deg);
  }
}
@keyframes spin-3 {
  100% {
    -webkit-transform: rotate(972deg);
            transform: rotate(972deg);
  }
}
@-webkit-keyframes spin-2 {
  100% {
    -webkit-transform: rotate(1008deg);
            transform: rotate(1008deg);
  }
}
@keyframes spin-2 {
  100% {
    -webkit-transform: rotate(1008deg);
            transform: rotate(1008deg);
  }
}
@-webkit-keyframes spin-1 {
  100% {
    -webkit-transform: rotate(1044deg);
            transform: rotate(1044deg);
  }
}
@keyframes spin-1 {
  100% {
    -webkit-transform: rotate(1044deg);
            transform: rotate(1044deg);
  }
}
